<div class="container landing">
  <div>
    <header>
      <h1>Stockers</h1>
    </header>

    <section class="form-container">
      <div class="form-links">
        <a class="active" href="/">Log In</a>
        <a class="inactive" href="/signup">Sign Up</a>
      </div>
      <div class="">
        <h2>Welcome</h2>
      </div>
      <div class="">
        <form class="" action="" method="post">
          <div class="form-group">
            <input class="form-control" type="email" name="name" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="name" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
        </form>
      </div>
    </section>
  </div>
</div>
