<div class="container summary">
  <nav>
    <ul>
      <li class="brand"><span>Stockers</span></li>
      <li>
        <form class="" action="index.html" method="post">
          <input type="text" name="name" value="" placeholder="Search by Ticker or Issuer's name">
        </form>
      </li>
      <li class="sign-out"><a href="#">Sign out</a></li>
    </ul>
  </nav>

  <header>
    <section>
      <h1>Welcome back Tina!</h1>
    </section>
    <section class="acc-balance">
      <h2>Your account balance is: <span>$350,000</span></h2>
    </section>
  </header>

  <section class="charts-container">
    <section class="chart margin-right">
      <h4>Asset Allocations</h4>
      <img src="http://pngimages.net/sites/default/files/pie-chart-png-image-100613.png" alt="" />
      <section>
        <ul>
          <li>Large-cap stocks</li>
          <li>Mid-cap stocks</li>
          <li>Small-cap stocks</li>
          <li>Fixed-income securities</li>
          <li>Real-estate investment trusts (REITS)</li>
        </ul>
      </section>
    </section>

    <section class="chart gainers margin-right">
      <h4>Top gainers <i class="fa fa-angle-double-up" aria-hidden="true"></i></h4>
      <img src="http://pngimages.net/sites/default/files/pie-chart-png-image-100613.png" alt="" />
      <section>
        <ul>
          <li>Arista Networks Inc
            <span>18.91%</span></li>
          <li>DigitalGlobe Inc
            <span>14.91%</span></li>
          <li>SunPower Corporation
            <span>9.03%</span></li>
          <li>Unilever N.V. (ADR)
            <span>7.91%</span></li>
          <li>Universal Electronics Inc
            <span>7.66%</span></li>
        </ul>
      </section>
    </section>

    <section class="chart losers">
      <h4>Top losers <i class="fa fa-angle-double-down" aria-hidden="true"></i></h4>
      <img src="http://pngimages.net/sites/default/files/pie-chart-png-image-100613.png" alt="" />
      <section>
        <ul>
          <li>Nu Skin Enterprises, Inc.
            <span>-12.53%</span></li>
          <li>Yamana Gold Inc. (USA)
            <span>-9.91%</span></li>
          <li>Gibraltar Industries Inc
            <span>-9.03%</span></li>
          <li>Aaron's, Inc.
            <span>-8.91%</span>-8.80</li>
          <li>Hertz Global Holdings, Inc
            <span>-7.66%</span></li>
        </ul>
      </section>
    </section>
    <section class="detail-link">
      <a href="/positions">View your positions</a>
    </section>
  </section>
</div>
