<div class="container summary position">
  <nav>
    <ul>
      <li class="brand"><a href="/portfolios">Stockers</a></li>
      <li>
        <form class="" action="index.html" method="post">
          <input type="text" name="name" value="" placeholder="Search by Ticker or Issuer's name">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </li>
      <li class="sign-out"><a href="#">Sign out</a></li>
    </ul>
  </nav>

  <header>
    <section>
      <h1>Positions</h1>
    </section>
    <section class="snapshot">
      <div>
        <p>$350,000.00</p>
        <p>TOTAL ACCOUNT VALUE</p>
      </div>
      <div>
        <p class="gainer">+$150.31</p>
        <p>DAY'S RETURN</p>
      </div>
      <div>
        <p class="gainer">+$15,399.31</p>
        <p>TOTAL RETURN</p>
      </div>
    </section>
  </header>

  <section class="items">
      <section class="headings">
        <span class="ticker-data">Ticker</span>
        <span class="company-data">Company</span>
        <span class="center"># of Shares</span>
        <span class="center">Original PPS</span>
        <span class="center">Market PPS</span>
        <span class="center">Cost Basis</span>
        <span class="center">Market Value</span>
        <span class="center">Gain / Loss</span>
      </section>
      <section class="item">
        <span class="ticker-data">NFLX</span>
        <span class="company-data">Netflix, Inc.</span>
        <span class="center">55</span>
        <span class="center">140.23</span>
        <span class="center">142.22</span>
        <span class="center">7,712.65</span>
        <span class="center">7,822.10</span>
        <span class="change center gainer">99.45</span>
      </section>
      <section class="item">
        <span class="ticker-data">AMZN</span>
        <span class="company-data">Amazon.com, Inc.</span>
        <span class="center">100</span>
        <span class="center">850.00</span>
        <span class="center">845.00</span>
        <span class="center">85,000.00</span>
        <span class="center">84,500.00</span>
        <span class="change center loser">-500.00</span>
      </section>
  </section>
</div>
